<div id="<%= dom_id track %>">
  <p>
    <strong>Track:</strong>
    <%= track.track %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= track.title %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= track.duration %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= track.year %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= track.album_id %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= track.artist_id %>
  </p>

</div>
